<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <label class="header">Third Line</label>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
<!-- </mat-toolbar-row>
</mat-toolbar> -->

<div class="main-container">
  <div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
      <div class="sub-container">
      </div>
  </div>
</div>