.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .header{
    /* padding: 0 20px; */
    background-color: rgba(33, 150, 243, 1);
    height: 100%;
  }

  .main-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0A79DF;
  }
  .sub-container{
    height : 100px;
    width:100px;
    background-color: red;
  
  }
  .hdr-content{
    padding: 0 20px;
    height: 100%;
  }
  .hdr-content-small{
    /* padding: 0 20px; */
    height: 100%;
  }
  mat-ink-bar{
    /* visibility: visible; left: 320px; width: 160px; */
  }
  .search{
    margin:20px 15px;border:1px solid black;border-radius: 20px;height:39px;width:250px;
  }
  .ip{
    background-color: transparent;
    border:0px solid transparent;
  }
 deep/ .mat-form-field-underline {
  width: 0px;
}

mat-tab-link{
  min-width:unset;
}