<link rel="stylesheet" href="/bower_components/lato-font/css/lato-font.css">
<div class="main-container">
  <div class="flex-container" fxLayout="rows"  fxLayoutAlign="center center">
    <div class="sub-container" >
      <div class="left-panel" fxFlex="50%">

        <p class="header">Welcome Back !</p>
        <div class="content-container">
          <p class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
          </p>
        </div>
        <div class="left-image-container">
          <img src="assets/img/undraw_QA_engineers_dg5p.svg">
          <img class="otp-logo" src="assets/img/otp_logo.svg">
        </div>
      </div>
      <div class="right-panel" fxFlex>
        <p color="black">Right Panel</p>
        <div class="right-image-container">
            <img src="assets/img/mphasis_logo.png">
        </div>
      </div>
    </div>
  </div>
</div>