.main-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F3F3F3;
  }
  .sub-container{
    width:960px;
    height:600px;
  }
  .flex-container{
    height: 100%;
  }
  .left-panel{
    background-image: linear-gradient(to bottom right,#F2F2F2,#95A1FF)
  }
  .right-panel{
    background-color: #fff;
    position: relative;
  }
  .header{
    color:#2196F3;
    font-size: 48px;
    text-align: center;
    padding-top:30px;
    font-family: Lato, bold;

}
.left-image-container{
    width:460px;
    height: 335px;
    margin-top: 16px;
    margin-bottom: 9px;
    margin-left:10px;
    position: relative;
}
.content{
    color:#0069C0;
    font-size: 24px;
    text-align: left;
}
.content-container{
    padding-top: 22px;
    padding-left:33px;
    width:425px;
    height: 150px;
}
.otp-logo{
    position: absolute;
    top:203px;
    left: 275px;
    
}
.right-image-container{
    position: absolute;
    top:552px;
    left:349px;
}
.usr-content{
    margin-top:20px;
    margin-left:36px;
    width:402px;
    height: 82px;
  }
  .input-container{
    width:402px;
    height: 33px;
  }
  .pwd-content{
    margin-left:36px;
    width:402px;
    height: 82px;
  }
  .btn-content{
    margin-left:151px;
    width:174px;
    height: 44px;
    border-radius: 22px;
    background-color:#2196F3;
    color : #fff;
  }
  .btn-container{
    margin-top: 54px;
  }
  .alert-msg{
      color:rgba(185, 45, 0, 0.87);
      font-family: Lato, Medium;
      padding-left: 32px;
      padding-top:22px;
      font-size: 20px;
  }