<div class="main-container">
  <div class="flex-container" fxLayout="column">
    <app-toolbar fxFlex.lg="72px" fxflex.sm="140px" fxflex.md="140px" fxflex.xs="140px"></app-toolbar>
    <div class="body-content" fxFlex>
      <div class="flex-container" fxLayout="column" fxLayoutAlign=" center">
        <mat-card fxFlex="312px" class="flight-container">
          <div class="flex-container" fxLayout="rows wrap" fxLayoutAlign="space-between center" style="width:100%;height:48px;background-color:rgba(229, 229, 229, 1); ">
            <mat-tab-group>
              <mat-tab label="FLIGHTS"></mat-tab>
              <mat-tab label="DEPARTMENTS"></mat-tab>
            </mat-tab-group>
            <div>
              <i class="material-icons" style="font-size:18px;cursor: pointer;">refresh</i>
              <i class="material-icons" style="font-size:18px;cursor: pointer;margin-left:9px;margin-right:25px">settings</i>
            </div>
          </div>
        </mat-card>
        <!-- <div fxFlex="312px" class="flight-container"></div> -->
        <div fxFlex>
          <div class="flex-container" fxLayout="rows wrap" fxLayoutAlign="center none">
            <mat-card fxFlex="580px" class="airport-container-left">
              <div class="flex-container" fxLayout="rows wrap" fxLayoutAlign="space-between center" style="width:580px;height:48px;background-color:rgba(229, 229, 229, 1); ">
                <p style="font-size:20px;font-family:Lato, Medium;margin-left: 15px">Airport Report</p>
                <div>
                  <i class="material-icons" style="font-size:18px;cursor: pointer;">refresh</i>
                  <i class="material-icons" style="font-size:18px;cursor: pointer;margin-left:9px;margin-right:25px">settings</i>
                </div>
              </div>
              <div id="chart-container">
                <canvas #myCanvas id="canvas" height="130px" baseChart [chartType]="chartType" [datasets]="chartData"
                  [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"></canvas>
              </div>
            </mat-card>
            <mat-card fxFlex="410px" class="airport-container-right">
              <p style="font-size:20px;font-family:Lato, Medium;margin-left: 15px">Airport Report</p>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <app-footer fxFlex="72px"></app-footer>
  </div>
</div>