<!-- <div class="main-container">
  <div class="flex-container" fxLayout="column">

    <div class="header" fxFlex="72px">
      <div fxFlex="138px" fxFlex.xs="10px"></div>
      <div fxFlex class="flex-container" fxLayout="rows" fxLayoutAlign="space-around center">
        <div>
          <img src="assets/img/homePage/otp_logo.svg">
        </div>
        <div>
          <mat-form-field appearance="outline">
            <img matSuffix src="assets/img/homePage/baseline-search-24px.svg">
            <input matInput type="text" id="username" class="form-control" ngModel name="username" placeholder="Search Flight"
              required>
          </mat-form-field>
        </div>
        <div>
          <mat-icon>icon_person</mat-icon>
          <p fxFlex>Maria</p>
          <img src="assets/img/homePage/baseline-keyboard_arrow_down-24px.svg">
        </div>
      </div>
      <div fxFlex="138px"></div>
    </div>
    <div class="body-content" fxFlex>
        <div class="flight-container"></div>
        <div fxLayout="rows">
            <div class="airport-container-left"></div>
            <div class="airport-container-right"></div>
        </div>
    </div>
    <div class="footer" fxFlex="72px">
      <div class="flex-container" fxLayout="rows" fxLayoutAlign="space-between center">
        <div fxFlex="138px"> </div>
        <div fxFlex fxLayout="rows" fxLayoutAlign="space-between center">
          <p class="footer-text">Copyright 2019 © All Rights Reserved.</p>
          <img src="assets/img/mphasis_logo.png">
        </div>
        <div fxFlex="138px"></div>
      </div>
    </div>
  </div>
</div> -->
<div style="background-color: rgb(212, 206, 206);width: 100%;position: absolute;height: 100%;">
  <div class="flex-container" fxLayout="column">
    <app-toolbar fxFlex.lg="72px" fxflex.sm="140px" fxflex.md="140px" fxflex.xs="140px"></app-toolbar>
  </div>
</div>